* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#inlk{
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:url('https://www.freeimg.cn/i/2024/08/20/66c441bdb7c49.jpg');
}
#nav-1{
  background-image:url('https://www.freeimg.cn/i/2024/08/20/66c441bdb7c49.jpg');
}
*{
  box-sizing:border-box;
}
body{
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
}
#inlk{
  background-repeat:repeat;
  background-position-x:left;
  background-position-y:top;
  background-attachment:scroll;
  background-size:auto;
}
#nav-1 .header-inner{
  width:100%;
}
#nav-1 .header-inner::after{
  content:" ";
  height:0px;
  display:block;
  visibility:hidden;
  clear:both;
}
#nav-1 h1{
  float:left;
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
  font-weight:900;
  font-size:28px;
  margin-bottom:0px;
  text-transform:uppercase;
  font-family:Roboto, Arial, sans-serif;
}
#nav-1 > a{
  display:inline-block;
  width:138px;
  height:22px;
}
#nav-1 img{
  height:22px;
  width:auto;
}
#nav-1 nav{
  float:right;
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
}
#nav-1 nav ul{
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
}
#nav-1 nav ul li{
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
  margin-top:0px;
  margin-right:6px;
  margin-bottom:0px;
  margin-left:0px;
  list-style-position:initial;
  list-style-image:initial;
  list-style-type:none;
  display:inline-block;
  zoom:1;
}
#nav-1 nav ul li a{
  color:rgba(0, 0, 0, 0.5);
  font-size:16px;
  padding-top:6px;
  padding-right:14px;
  padding-bottom:6px;
  padding-left:14px;
  position:relative;
  transition-behavior:normal;
  transition-duration:0.2s;
  transition-timing-function:ease;
  transition-delay:0s;
  transition-property:all;
}
#nav-1 nav ul li a:hover{
  text-decoration-line:none;
  text-decoration-thickness:initial;
  text-decoration-style:initial;
  text-decoration-color:initial;
}
#nav-1 nav ul li a.active, #nav-1 nav ul li a:focus{
  outline-color:initial;
  outline-style:none;
  outline-width:initial;
  text-decoration-line:none;
  text-decoration-thickness:initial;
  text-decoration-style:initial;
  text-decoration-color:initial;
  color:white;
  background-image:initial;
  background-position-x:initial;
  background-position-y:initial;
  background-size:initial;
  background-repeat:initial;
  background-attachment:initial;
  background-origin:initial;
  background-clip:initial;
  background-color:rgb(31, 181, 123);
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
}
header{
  background-color:rgb(255, 255, 255);
}
header .navbar-nav a.nav-link{
  color:rgb(119, 119, 119);
}
header .navbar-nav a.nav-link:hover{
  color:rgb(82, 139, 255);
}
header .navbar-nav .active a.nav-link{
  color:rgb(68, 68, 68);
}
header .navbar-toggler-icon{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
header.bg-dark .navbar-nav a.nav-link{
  color:rgb(220, 220, 220);
}
header.bg-dark .navbar-nav a.nav-link:hover{
  color:rgb(82, 139, 255);
}
header.bg-dark .navbar-nav .active a.nav-link{
  color:rgb(255, 255, 255);
}
header.bg-dark .navbar-toggler-icon{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
header + header{
  border-top-width:1px;
  border-top-style:solid;
  border-top-color:rgb(238, 238, 238);
}
#nav-1{
  padding-top:30px;
  padding-right:0px;
  padding-bottom:30px;
  padding-left:0px;
  width:100%;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:rgba(0, 0, 0, 0.1);
  position:relative;
}
.c10141{
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  color:rgb(0, 0, 0);
}
.active{
  background-image:url("https://pic.imgdb.cn/item/66f770b5f21886ccc0eed7bc.jpg");
}
.htmlpage-row{
  display:table;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  width:100%;
}
.c13552{
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  color:rgb(8, 8, 8);
}
