.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 使用100%的视口高度来居中内容 */
}

.typewriter {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-family: monospace;
  animation: typing 8s steps(40, end), blink-caret 0.75s step-end infinite;
}
